<div>
    <app-widget-area></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>
<br>



<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
        <mat-card><app-widget-card label="Users" total="18K" percentage="50"></app-widget-card></mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card><app-widget-card label="Users" total="15K" percentage="56" ></app-widget-card></mat-card>
    </mat-grid-tile>
    <br>
    <mat-grid-tile>
        <mat-card><app-widget-card label="Users" total="19K" percentage="29" ></app-widget-card></mat-card>
    </mat-grid-tile>
    
    <mat-grid-tile>
        <mat-card><app-widget-card label="Users" total="8K" percentage="80" ></app-widget-card></mat-card>
    </mat-grid-tile>
    
</mat-grid-list>

<mat-divider></mat-divider>
