<div>
    <app-widget-area></app-widget-area>
</div>

<br>
<mat-divider></mat-divider>
<br>

<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Simple card</mat-card>
    </mat-grid-tile>
  </mat-grid-list>
<br>
<mat-divider></mat-divider>
<br>


<div>
    <div> Line Chart</div>
    <div> Line Chart</div>
    <div> Line Chart</div>
    <div> Line Chart</div>
    <div> Line Chart</div>
</div>

<mat-divider></mat-divider>

<div>
    <div> Table </div>
    <div>Pie Chart</div>

</div>